    #menu {
        text-align: center;
    }
    
    #car_overview {
        margin-left: auto;
        margin-right: auto;
    }
    
    #login_register {
        float: right;
    }
    
    #duration_input {
        width: 40px;
    }
    
    #filter {
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
        width: 70%;
    }
    
    #show_car_bttn {
        margin-top: 10px;
        padding: 10px;
    }
    
    #login_form {
        margin-bottom: 30px;
        padding-bottom: 20px;
        margin-left: 20px;
        float: right;
        background-color: chocolate;
    }
    
    .login {
        width: 20%;
        margin: 5px;
    }
    
    .car_div {
        background-color: #5D8AA6;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        height: auto;
    }
    
    .car_img {
        width: 100%;
        height: 100%;
    }
    
    .car_header {
        padding-top: 20px;
        color: black;
        text-align: center;
        position: top;
    }