#CarOverview {
    margin-left: auto;
    float: left;
    margin-right: auto;
}

#login_register {
    float: right;
}

#filter {
    padding-bottom: 10px;
}

.carDiv {
    background-color: #5D8AA6;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
    padding-bottom: 150px;
}

#innerDiv {}

#login_register {
    width: 200px;
    background-color: #5D8AA6;
    padding: 20px;
}

.carImg {
    width: 100%;
    height: 100%;
}

.carHeader {
    padding-top: 20px;
    color: black;
    text-align: center;
    position: top;
}

.carImg:a:hover {
    background-color: chocolate;
}