#CarOverview {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#login_register {
    float: right;
}

.carDiv {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
    padding-bottom: 200px;
}

#innerDiv {
    background-color: #5D8AA6;
}

.carImg {
    width: 100%;
    height: 100%;
}

.carHeader {
    padding-top: 20px;
    color: black;
    text-align: center;
    position: top;
}

.carImg:a:hover {
    background-color: chocolate;
}